<!-- public/views/index.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dataTables.bootstrap5.css">
</head>
<body>
  {{MENU}}

	<div class="container">
		<h1>Contact Form</h1>
		<form action="/your-name" method="POST">
			<label for="name">Nome:</label>
			<input type="text" id="name" name="name" required>
			<br><br>
			<button type="submit">Enviar</button>
		</form>

		<h1>What your job?</h1>
		<form action="/your-job" method="POST">
			<label for="job">Job:</label>
			<input type="text" id="job" name="job" required>
			<br><br>
			<button type="submit">Enviar</button>
		</form>
	</div>
	

	<!-- <script src="/js/core.js"></script> -->
  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/dataTables.js"></script>
  <script src="js/dataTables.bootstrap5.js"></script>

</body>
</html>