<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Form</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/dataTables.bootstrap5.css">
	</head>
  <body>
    <div class="container">
      <h1>Success!</h1>
      <p>{{data}}</p>
      <a href="/">Voltar para o início</a>
    </div>   

    <!-- <script src="/js/core.js"></script> -->
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="js/dataTables.bootstrap5.js"></script>
  </body>
</html>